<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <script type="text/javascript" src="http://svcapi.gigagenie.ai/sdk/v1.0/js/gigagenie.js"></script>
    <script type="text/javascript">
    var options={};
    // 서비스 초기화
    function init(){
        options={};
    	options.keytype="GBOXDEVM"; // 개발(GBOXDEVM) 또는 상용(GBOXCOMM) 키 종류 입력
    	options.apikey="RTUwMDE4OTN8R0JPWERFVk18MTUyODY5MTc4MzQ4Ng=="; // 개발자 포털에서 키를 발급받아 입력

      gigagenie.init(options,function(result_cd,result_msg,extra){
            if(result_cd===200){
                //함수 호출 및 개발 진행
                var script = <%- JSON.stringify(script) %>
                //callback 방식
                var options={};
                options.ttstext = script.actorName + "의 " + script.sentence + "를 선택하셨습니다. 원하는 메뉴를 말씀해주세요.";
                gigagenie.voice.sendTTS(options,function(result_cd,result_msg,extra){
                    if(result_cd===200){
                      //do next action
                      options = {};
		                  // options.voicemsg = "정답을 말씀해주세요.";
		                  gigagenie.voice.getVoiceText(options, function(result_cd, result_msg, extra) {
                        if(result_cd===200){
                          //do next action
                          if (extra.voicetext.replace(/\s/g, "") == "장면미리보기") {
                            window.location.href = '/preview/' + script.id;
                          } else if (extra.voicetext.replace(/\s/g, "") == "성대모사시작"){
                            window.location.href = '/practice_mimic/' + script.id;
                          } else {
                            //extra.reason 에 voice 오류 전달.
                            alert("일치하는 대사가 없습니다.");
                            window.location.href = '/';
                          }
                        } else {
                          alert("입력 시간이 초과하였습니다.");
                          window.location.href = '/'
                        }
                      });
                    } else {
                     //extra.reason 에 voice 오류 전달.
                     alert("giggenie init error!");
                 }
                });
    	    };
    	});
    }

    // 서비스 종료 명령 수신 API
    gigagenie.voice.onRequestClose=function(){
    	options={};
    	gigagenie.voice.svcFinished(options,function(result_cd,result_msg,extra){
    	});
    };

    gigagenie.voice.onVoiceCommand=function(event){
      switch(event){
          case 'nextPage':
              //navigate next page
              break;
          case 'prevPage':
              //navigate prev page
              window.history.back();
              break;
          default:
              break;
      }
    };
    </script>
  </head>
  <body style="background: rgb(151, 192, 183);" onload=init()>
    <header>
      <% include ../partials/header %>
    </header>
    <div class="midnav">
      <img src="/images/seongdal.png" style="width: 10%; padding-left: 10px;">
      <div class="row">
        <div class="column">
          <div class="image-wrapper">
            <img src="/images/<%=script.image%>" style="border: solid white 5px;">
          </div>
        </div>
        <div class="column">
          <h1 style="color:white; text-align:center; margin-bottom: 10%;">영화: <%=script.movieName%></h1>
          <h1 style="color:white; text-align:center; margin-bottom: 10%;">배우: <%=script.actorName%></h1>
          <h1 style="color:white; text-align:center;">대사: "<%=script.sentence%>"</h1>
        </div>
        <div class="column" style="margin-top: 10%;" onclick="location.href='/preview/<%=script.id%>'">
          <div style="background: rgb(151, 192, 183); padding: 10px; border: solid rgb(65, 132, 143) 5px;">
            <h1 style="text-align:center;">1. 장면 미리보기</h1>
          </div>
        </div>
        <div class="column" style="margin-top: 10%;" onclick="location.href='/practice_mimic/<%=script.id%>'">
          <div style="background: rgb(151, 192, 183); padding: 10px; border: solid rgb(65, 132, 143) 5px;">
            <h1 style="text-align:center;">2. 성대모사 시작</h1>
          </div>
        </div>
        <div class="column" style="max-width: 100%; margin-top: 5%;">
          <div style="background: rgb(151, 192, 183); padding: 10px; border: solid rgb(65, 132, 143) 5px;">
            <h2 style="text-align:center;"><%=script.description%></h2>
          </div>
        </div>
      </div>
    </div>
 </body>
</html>
