<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <script type="text/javascript" src="http://svcapi.gigagenie.ai/sdk/v1.0/js/gigagenie.js"></script>
    <script type="text/javascript">
    var options={};
    // 서비스 초기화
    function init(){
        options={};
      options.keytype="GBOXDEVM"; // 개발(GBOXDEVM) 또는 상용(GBOXCOMM) 키 종류 입력
      options.apikey="RTUwMDE4OTN8R0JPWERFVk18MTUyODY5MTc4MzQ4Ng=="; // 개발자 포털에서 키를 발급받아 입력

      gigagenie.init(options,function(result_cd,result_msg,extra){
            if(result_cd===200){
                //init 성공
                //함수 호출 및 개발 진행
                var options={};
                options.ttstext = "하나, 둘, 셋 하면 성대모사를 시작하세요. 하나! 둘! 셋!";
                gigagenie.voice.sendTTS(options,function(result_cd,result_msg,extra){
                    if(result_cd===200){
                      //1. delivery를 memory로 했을 경우
                      var options={};
                      options.delivery='webhook';
                      options.recordTime=5;
                      options.url='http://211.252.86.136:8080/practice_mimic/<%=script.id%>';

                      var countDownDate = new Date().getTime();
                      // Update the count down every 1 second
                      var x = setInterval(function() {
                          // Get todays date and time
                          var now = new Date().getTime();
                          // Time calculations for days, hours, minutes and seconds
                          var seconds = options.recordTime - Math.floor(((now - countDownDate) % (1000 * 60)) / 1000);
                          // Output the result in an element with id="demo"
                          document.getElementById("timer").innerHTML = seconds + "초";
                          // If the count down is over, write some text
                          if (seconds <= 0) {
                              clearInterval(x);
                              document.getElementById("timer").innerHTML = "끝!";
                          }
                      }, 1000);

                      var audioBuffer=null;
                      gigagenie.media.onVoiceRecordComplete=function(result_cd,inBuffer){
                        console.log('mimic_record_audio')
                        alert("침투 완료!");
                        if(result_cd===200) {
                          alert("end!");

                          // 메모리로 받는 경우
                          // 200 인 경우에 지금의 년월일시분초로 파일명을 정함
                          // ex) 20180628023314       (확장자 제외)

                          /*
                          var d = new Date();
                          var filename = d.toISOString().slice(0,10).replace(/-/g,"") + d.toISOString().slice(11,19).replace(/:/g,"");
                          */


                          // 그 다음 이 정보를 ajax 로 127.0.0.1:808/ajax 로 POST
                          // {'audio' : inBuffer, 'mimic' : 0, 'filename' : "20180628023314"}


                          /*
                          $.ajax({

                            type : 'POST',
                            url : '127.0.0.1:808/ajax',
                            data : {'audio' : inBuffer,
                                    'mimic' : 이건 어떻게 넣어야 하지,
                                    'filename' : filename},
                            success : function(res){
                              
                              // status == 1 이면 성공, 0 이면 실패
                              // console.log(res.status)

                              window.location.href = '127.0.0.1:8080/점수점수점수점수'; // GET 이니까 ?key1=뭐뭐&key2=뭐뭐 해주면 될듯
                            }
                          });
                          */

                          // 파이썬 서버는 이를 받아서 오디오를 주어진 파일명으로 저장
                          // 그러면 이제 점수를 계산하고 점수 페이지로 넘어갈 수 있음




                          // 여기서 127.0.0.1:8080/mimic_score 로 GET
                          // GET 파라미터는 origin 과 파일명(확장자제외) - 파이썬서버와 같음
                          // 그러면 mimic_score.html 은 다시 파이썬 서버에 똑같이 요청해서 점수 받아오고 그 결과를 res.render

                        } else console.log('recording fail:'+result_cd);
                      }

                      gigagenie.media.startRecordAudio(options,function(result_cd,result_msg,extra){
                        console.log('mimic_record_start')
                        if (result_cd===200) {
                          alert("start!");
                          console.log(result_cd);
                        } else console.log('fail:'+result_cd);
                      });
                    } else {

                    };
                });
          };
      });

    }

    // 서비스 종료 명령 수신 API
    gigagenie.voice.onRequestClose=function(){
      options={};
      gigagenie.voice.svcFinished(options,function(result_cd,result_msg,extra){
      });
    };

    gigagenie.voice.onVoiceCommand=function(event){
      switch(event){
          case 'nextPage':
              //navigate next page
              break;
          case 'prevPage':
              //navigate prev page
              window.history.back();
              break;
          default:
              break;
      }
    };
    </script>
  </head>
  <style>
    html, body, video {
    	padding: 0;
    	margin: 0;
    }
    video {
    	position: absolute;
    	top: 0;
    	left: 0;
    	bottom: 0;
    	right: 0;
    	width: 100%;
    	height: 100%;
    }
  </style>
  <body style="background: rgb(151, 192, 183);" onload=init()>
    <header>
      <% include ../partials/header %>
    </header>
    <div class="image-wrapper">
      <img src="/images/<%=script.image%>" style="border: solid white 5px;">
      <div class="centered" style="position: absolute; top: 90%; left: 50%; transform: translate(-50%, -50%)">
        <h1 style="color: white; font-size: 50px;"><%= script.sentence %></h1>
        <h1 id="timer" style="color: white; font-size: 50px; text-align: center;"></h1>
        <!-- <form action="/practice_mimic/<%=script.id%>" method="post">
          <button type="submit">result</button>
        </form>
        <a href="/mimic_score/<%=script.id%>">result</a> -->
      </div>
    </div>
 </body>
</html>
