<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <script type="text/javascript" src="http://svcapi.gigagenie.ai/sdk/v1.0/js/gigagenie.js"></script>
    <script type="text/javascript">
    var options={};
    // 서비스 초기화
    function init(){
        options={};
    	options.keytype="GBOXDEVM"; // 개발(GBOXDEVM) 또는 상용(GBOXCOMM) 키 종류 입력
    	options.apikey="RTUwMDE4OTN8R0JPWERFVk18MTUyODY5MTc4MzQ4Ng=="; // 개발자 포털에서 키를 발급받아 입력

    	gigagenie.init(options,function(result_cd,result_msg,extra){
            if(result_cd===200){
                //함수 호출 및 개발 진행

                //callback 방식
                var options={};
                options.ttstext="성대모사 연습 화면입니다. 연습하고 싶은 대사를 말씀해주세요";
                gigagenie.voice.sendTTS(options,function(result_cd,result_msg,extra){
                    if(result_cd===200){
                      //do next action
                      options = {};
		                  // options.voicemsg = "정답을 말씀해주세요.";
		                  gigagenie.voice.getVoiceText(options, function(result_cd, result_msg, extra) {
                        if (result_cd == 200) {
                          // var msg = "음성인식 결과 : " + extra.voicetext;
                          // alert(msg);
                          var script_list = <%- JSON.stringify(script_list) %>
                          for (var i = 0; i < script_list.length; i++) {
                            if (script_list[i].sentence.replace(/\s/g, "")  == extra.voicetext.replace(/\s/g, "") ) {
                              window.location.href = '/detail/' + script_list[i].id;
                              break;
                            } else if (i == script_list.length - 1) {
                              alert("일치하는 대사가 없습니다.");
                            }
                          }
                        } else {
                          alert("입력 시간이 초과하였습니다.")
                        }
                         });
                    } else {
                     //extra.reason 에 voice 오류 전달.
                     alert("giggenie init error!");
                 };
                });
    	    };
    	});
    }

    // 서비스 종료 명령 수신 API
    gigagenie.voice.onRequestClose=function(){
    	options={};
    	gigagenie.voice.svcFinished(options,function(result_cd,result_msg,extra){
    	});
    };
    </script>
  </head>
  <body style="background: rgb(151, 192, 183);" onload=init()>
    <header>
      <% include ../partials/header %>
    </header>
    <div class="sidenav">
       <a href="/"><img src="/images/seongdal.png" style="width:100%;"></a>
       <a href="/sync_measure" style="background: rgb(65,132,143);">1. 성대모사 연습</a>
       <a href="#">2. 더빙</a>
       <a href="#">3. 달인 갤러리</a>
    </div>

    <div class="main">
      <h1 class="text">성대모사할 장면을 골라주세요.</h1>
      <div class="row">
        <% for (var i=0; i< script_list.length; i++) { %>
          <div class="column" onclick="location.href='/detail/<%=script_list[i].id%>'">
   		       <h2 class="text"><%=i+1%>. <%=script_list[i].movieName%> - <%=script_list[i].actorName%></h2>
   		       <h2 class="text">"<%= script_list[i].sentence %>"</h2>
   		       <div class="image-wrapper">
   			          <img src="/images/<%=script_list[i].image%>">
   		       </div>
   	     </div>
        <% } %>
      </div>
    </div>
   </body>
</html>
