<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <script type="text/javascript" src="http://svcapi.gigagenie.ai/sdk/v1.0/js/gigagenie.js"></script>
    <script type="text/javascript">
    var options={};
    // 서비스 초기화
    function init(){
        options={};
    	options.keytype="GBOXDEVM"; // 개발(GBOXDEVM) 또는 상용(GBOXCOMM) 키 종류 입력
    	options.apikey="RTUwMDE4OTN8R0JPWERFVk18MTUyODY5MTc4MzQ4Ng=="; // 개발자 포털에서 키를 발급받아 입력

      gigagenie.init(options,function(result_cd,result_msg,extra){
            if(result_cd===200){
                //init 성공
                var script = <%- JSON.stringify(script) %>
                //함수 호출 및 개발 진행
                var vid = document.getElementById("previewVideo");
                vid.onended = function() {
                  window.location.href = '/detail/' + script.id;
                };
                //callback 방식
                // var options={};
                // options.ttstext="성달 서비스를 시작합니다. 호출어를 부른 뒤 원하는 메뉴를 말씀해주세요.";
                // gigagenie.voice.sendTTS(options,function(result_cd,result_msg,extra){
                //     if(result_cd===200){
                //       //do next action
                //     } else {
                //      //extra.reason 에 voice 오류 전달.
                //  };
                // });
    	    };
    	});
    }

    // 서비스 종료 명령 수신 API
    gigagenie.voice.onRequestClose=function(){
    	options={};
    	gigagenie.voice.svcFinished(options,function(result_cd,result_msg,extra){
    	});
    };

    gigagenie.voice.onVoiceCommand=function(event){
      switch(event){
          case 'nextPage':
              //navigate next page
              break;
          case 'prevPage':
              //navigate prev page
              window.history.back();
              break;
          default:
              break;
      }
    };
    </script>
  </head>
  <body style="background: rgb(151, 192, 183);" onload=init()>
    <header>
      <% include ../partials/header %>
    </header>
    <div class="midnav">
      <img src="/images/seongdal.png" style="width: 10%; padding-left: 10px;">
      <div class="row">
        <div class="column">
          <div class="image-wrapper">
            <img src="/images/<%=script.image%>" style="border: solid white 5px;">
          </div>
        </div>
        <div class="column">
          <table style="background-color:rgb(151,192,183);margin: auto; width :100%; height: 100%; text-align:center; border-spacing:0px 0px; border:0.1px; border-color: black; color:white;">
            <tr style="height:10%; border-collapse: collapse;">
              <th style="border :1px solid black; border-collapse: collapse; background-color:rgb(238,233,209);"><font color =black><h2 style ="margin:auto" >별점순 보기</h2><font></th>
              <th style="border :1px solid black; border-collapse: collapse;"><font color =black><h2>최신순 보기</h2><font></th>
            </tr>
            <tr>
              <th style="background-color:black"><h2>사용자</h2></th>
              <th style="background-color:black"><h2>별점</h2></th>
            </tr>
            <tr style="height:10%; ">
              <td style="border:1px solid black;background-color:rgb(238,233,209);"><font color =black><h2>조영우</h3></font></td>
              <td style="border:1px solid black;background-color:rgb(238,233,209);"><font color =black><h2>4.9</h3></font></td>
            </tr>
            <tr style="height:10%">
              <td style="border:1px solid black;"><h2>장민욱</h4></td>
              <td style="border:1px solid black;"><h2>4.8</h4></td>
            </tr>
            <tr style="height:10%">
              <td style="border:1px solid black;"><h2>안재우</h2></td>
              <td style="border:1px solid black;"><h2>4.7</h2></td>
            </tr>
            <tr style="height:10%">
              <td style="border:1px solid black;"><h2>정지은</h2></td>
              <td style="border:1px solid black;"><h2>4.5</h2></td>
            </tr>
            <tr style="height:10%">
              <td style="border:1px solid black;"><h2>티라노</h2></td>
              <td style="border:1px solid black;"><h2>4.3</h2></td>
            </tr>
            <tr style="height:10%">
              <td style="border:1px solid black;"><h2>코난</h2></td>
              <td style="border:1px solid black;"><h2>4.3</h2></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="row" style="margin-top:-20%">
        <div class="column" >
          <h1 style="color:white; text-align:center; margin-bottom: 10%;">영화: <%=script.movieName%></h1>
          <h1 style="color:white; text-align:center; margin-bottom: 10%;">배우: <%=script.actorName%></h1>
          <h1 style="color:white; text-align:center;">대사: "<%=script.sentence%>"</h1>
        </div>
      </div>

    </div>
 </body>
</html>
