<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head_ranking_detail %>
    <script type="text/javascript" src="http://svcapi.gigagenie.ai/sdk/v1.0/js/gigagenie.js"></script>
    <script type="text/javascript">
    var options={};
    // 서비스 초기화
    function init(){
        options={};
    	options.keytype="GBOXDEVM"; // 개발(GBOXDEVM) 또는 상용(GBOXCOMM) 키 종류 입력
    	options.apikey="RTUwMDE4OTN8R0JPWERFVk18MTUyODY5MTc4MzQ4Ng=="; // 개발자 포털에서 키를 발급받아 입력

      gigagenie.init(options,function(result_cd,result_msg,extra){
            if(result_cd===200){
                //init 성공
                var script = <%- JSON.stringify(script) %>
                //함수 호출 및 개발 진행
                var vid = document.getElementById("previewVideo");
                vid.onended = function() {
                  window.location.href = '/detail/' + script.id;
                };
    	    };
    	});
    }

    // 서비스 종료 명령 수신 API
    gigagenie.voice.onRequestClose=function(){
    	options={};
    	gigagenie.voice.svcFinished(options,function(result_cd,result_msg,extra){
    	});
    };

    gigagenie.voice.onVoiceCommand=function(event){
      switch(event){
          case 'nextPage':
              //navigate next page
              break;
          case 'prevPage':
              //navigate prev page
              window.history.back();
              break;
          default:
              break;
      }
    };
    </script>
  </head>
  <body onload=init()>
    <header>
      <% include ../partials/header %>
    </header>

    <span class="title">
    달인 갤러리
    </span>

  <div class="scene-info">
    <span class="scene-detail">
      <span class="scene-name">"<%=script.sentence%>"</span>
    <span class="scene-sub"><img class="detail-icon" src="/images/ic_movie.png" />
      <p>
         <%=script.movieName%>
      </p>
    </span>
    <span class="scene-sub">
      <img class="detail-icon" src="/images/ic_actor.png" />
      <p>
          <%=script.actorName%>
      </p>
    </span>
    <span class="scene-sub">
      <img class="detail-icon" src="/images/ic_scene.png" />
      <p>
        <%=script.description%>
      </p>
     </span>
    </span>
    <div class="scene-image" style="background: url('/images/<%=script.image%>') center center; background-repeat: no-repeat;
    background-size: cover;">
    </div>
  </div>

  <div class="table-container">
    <img class="sort-btn" src="/images/btn_recent.png"  onmouseover="this.src='/images/btn_recent_selected.png'"  onmouseout="this.src='/images/btn_recent.png'"/>
    <img class="sort-btn" src="/images/btn_score.png"  onmouseover="this.src='/images/btn_score_selected.png'"  onmouseout="this.src='/images/btn_score.png'"/>
    <table>
      <th>
        사용자
      </th>
      <th>
        점수
      </th>

      <tr>
        <td>
          조영우
        </td>
        <td>
          <img src='/images/ic_rank_A.png' width=28 /> 90점
        </td>

      </tr>
      <tr>
        <td>
          장민욱
        </td>
        <td>
          <img src='/images/ic_rank_B.png' width=28 /> 80점
        </td>
      </tr>

      <tr>
        <td>
          안재우
        </td>
        <td>
          <img src='/images/ic_rank_C.png' width=28 /> 70점
        </td>

      </tr>

      <tr>

        <td>
          정지은
        </td>
        <td>
          <img src='/images/ic_rank_D.png' width=28 /> 60점
        </td>
      </tr>

      <tr>
        <td>
          티라노
        </td>
        <td>
          <img src='/images/ic_rank_E.png' width=28 /> 50점
        </td>

      </tr>

      <tr>
        <td>
          티라노2
        </td>
        <td>
          <img src='/images/ic_rank_F.png' width=28 /> 49점
        </td>
      </tr>
    </table>
  </div>
 </body>
</html>
