<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body style="background: rgb(151, 192, 183);">
    <header>
      <% include ./partials/header %>
    </header>
    <div class="midnav">
      <img src="/images/seongdal.png" style="width: 10%; padding-left: 10px;">
      <div class="row">
        <div class="column">
          <div class="image-wrapper">
            <img src="/images/<%=script.image%>" style="border: solid white 5px;">
          </div>
        </div>
        <div class="column">
          <h1 style="color:white; text-align:center; margin-bottom: 10%;">영화: <%=script.movieName%></h1>
          <h1 style="color:white; text-align:center; margin-bottom: 10%;">배우: <%=script.actorName%></h1>
          <h1 style="color:white; text-align:center;">대사: "<%=script.sentence%>"</h1>
        </div>
        <div class="column" style="margin-top: 10%;" onclick="location.href='/preview/<%=script.id%>'">
          <div style="background: rgb(151, 192, 183); padding: 10px; border: solid rgb(65, 132, 143) 5px;">
            <h1 style="text-align:center;">1. 장면 미리보기</h1>
          </div>
        </div>
        <div class="column" style="margin-top: 10%;">
          <div style="background: rgb(151, 192, 183); padding: 10px; border: solid rgb(65, 132, 143) 5px;">
            <h1 style="text-align:center;">2. 성대모사 시작</h1>
          </div>
        </div>
        <div class="column" style="max-width: 100%; margin-top: 5%;">
          <div style="background: rgb(151, 192, 183); padding: 10px; border: solid rgb(65, 132, 143) 5px;">
            <h2 style="text-align:center;"><%=script.description%></h2>
          </div>
        </div>
      </div>
    </div>
 </body>
</html>
