<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body style="background: rgb(151, 192, 183);">
    <header>
      <% include ./partials/header %>
    </header>
    <div class="sidenav">
       <a href="/"><img src="/images/seongdal.png" style="width:100%;"></a>
       <a href="/sync_measure" style="background: rgb(65,132,143);">1. 성대모사 연습</a>
       <a href="#">2. 더빙</a>
       <a href="#">3. 달인 갤러리</a>
    </div>

    <div class="main">
      <h1 class="text">성대모사할 장면을 골라주세요.</h1>
      <div class="row">
        <% for (var i=0; i< script_list.length; i++) { %>
          <div class="column" onclick="location.href='/detail/<%=script_list[i].id%>'">
   		       <h2 class="text"><%=i+1%>. <%=script_list[i].movieName%> - <%=script_list[i].actorName%></h2>
   		       <h2 class="text">"<%= script_list[i].sentence %>"</h2>
   		       <div class="image-wrapper">
   			          <img src="/images/<%=script_list[i].image%>">
   		       </div>
   	     </div>
        <% } %>
      </div>
    </div>
   </body>
</html>
